<%= form_for [:admin,@ad_schedule.ad,@ad_schedule,@ad_target_address] do |f| %>
 	<div class="form-group">
		<%= f.label :address_id,t(:label_target_address) %>
		<%= f.select :address_id, options_from_collection_for_select(Address.find(:all,:conditions=>{:flag=>true}), 'id', 'full_address',@ad_target_address.address_id) %>
 	</div>
 	<div class="form-group actions">
 		<%= f.submit :class=>"btn btn-primary" %>
 	</div>
<% end %>